{% extends 'base.html.twig' %}

{% block title %}Evaluation PHP/Symfony Aymeric Art{% endblock %}

{% block body %}

    <div class="container">
        {{ form_start(form) }}
            <div class="error">
                {{ form_errors(form) }}
            </div>

            {{ form_row(form.email) }}
            {{ form_row(form.roles) }}
                {% if not isCreated %}
                    {{ form_row(form.plainPassword) }}
                {% endif %}

            <div class="d-flex justify-content-center m-5">
                <button type="submit" class="btn btn-success">Créer</button>
            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}