<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav col-12 d-flex p-3">
                    <div class=" col-8 d-flex">
                        <a class="nav-item nav-link active" href="{{ path('product_list')}}">Les produits</a>
                        {% if app.user %}
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_STAFF') %}
                                <a class="nav-item nav-link active" href="{{ path('admin_product_add')}}">Ajouter un produit</a>
                                <a class="nav-item nav-link active" href="{{ path('admin_category_add')}}">Ajouter une catégorie</a>
                                <a class="nav-item nav-link active" href="{{ path('admin_user_add')}}">Ajouter un utilisateur</a>
                                <a class="nav-item nav-link active" href="{{ path('admin_user_list')}}">Liste des utilisateurs</a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="d-flex flex-row-reverse col-4">
                        {% if app.user %}
                            <a class="nav-item nav-link active mr-auto" href="{{ path('app_logout')}}">Se deconnecter</a>
                        {% else %}
                            <div class="mr-auto d-flex">
                                <a class="nav-item nav-link active" href="{{ path('app_login')}}">Se connecter</a>
                                <a class="nav-item nav-link active" href="{{ path('app_register')}}">S'inscrire</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
